
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-10 ">
    <div class="portlet box purple ">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i> <%= formTitle ? formTitle :'Add Batch' %>
        </div>
      </div>
      <div class="portlet-body form">
        <form
          class="form-horizontal"
          role="form"
          id="createBatch"
          method="post"
        >
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Batch Name:</label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Batch Name"
                  name="batchName"
                  data-required="1"
                  value="<%= batch.batchName %>"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Batch Alias</label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Batch Alias"
                  name="batchAlias"
                  value="<%= batch.batchAlias %>"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Course</label>
              <div class="col-md-9">
                <select name="course" class="form-control">
                  <option value="">Select Course</option>
                  <% if ( typeof courseLists !='undefined' ){ %> <%
                  courseLists.map((course)=>{  %>
                  <option value="<%= course._id %>" <%= ( course._id.equals(batch.course) ) ? "selected" : "" %>
                    ><%= course.courseName + ' - ' + course.courseCode
                    %></option
                  >
                  <%}) } %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Start Date</label>
              <div class="col-md-9">
                <input
                  class="form-control date-picker "
                  size="16"
                  type="text"
                  value="<%= _h.formatDate(batch.startDate,'MM/DD/YYYY') %>"
                  placeholder="Start Date"
                  name="startDate"
                  readonly
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">End Date</label>
              <div class="col-md-9">
                <input
                  class="form-control date-picker "
                  size="16"
                  type="text"
                  placeholder="End Date"
                  name="endDate"
                  readonly
                  value="<%= _h.formatDate(batch.endDate,'MM/DD/YYYY') %>"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Status</label>
              <div class="col-md-9">
                <select class="form-control" name="status">
                  <option value="1" <%= !batch.status ? 'selected' : '' %>>Active</option>
                  <option value="0" <%= batch.status ? 'selected' : '' %>>In-Active</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-actions right1">
            <button type="button" class="btn default">Cancel</button>
            <button type="submit" class="btn green">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
    <!-- BEGIN SAMPLE FORM PORTLET-->

    <!-- END SAMPLE FORM PORTLET-->
    <!-- BEGIN SAMPLE FORM PORTLET-->

    <!-- END SAMPLE FORM PORTLET-->
  </div>
</div>
